.five__link:hover{
    background-color: #fff;
    color:#0075FF;
}
.five__link--2:hover{
    background-color: #fff;
    color:#0075FF;
}
.five__link--3:hover{
    background-color: #fff;
    color:#0075FF;
}
.seven__link:hover{
    color: #fff;
    background-color:#0075FF;
}
#submit:hover{
    background-color: #fff;
    color:#0075FF;
}
.footer__card4__link:hover{
    background-color: #fff;
    color:#0075FF;
}
